@page
@model ToDoListRazor.ToDoListModel
@{
    ViewData["Title"] = "Todo List";
}

<h1>Todo List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>To Do Text</th>
            <th>Is Complete</th>
            <th>Mark Complete</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model.ToDos)
        {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.ToDoText</td>
            <td>@todo.IsComplete</td>
            <td><a asp-page="./CompleteToDo" asp-route-id="@todo.Id">Mark Complete</a></td>
            <td><a asp-page="./DeleteToDo" asp-route-id="@todo.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
